* {box-sizing: border-box;}
body {
  background-color: #EAEAEA;
  font-family: Verdana, Arial, sans-serif;
  color: #666666;
  margin: 0;
}
#wrapper {
  background-color: #90C7E3;
  background-image: linear-gradient(#FFFFFF, #90C7E3);
  min-height: 100vh;
}
header {
  background-color: #000033;
  text-align: center;
  padding: 0.5em 0;
}
h1 {
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.5em;
}
header a:link,
header a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
header a:hover {
  color: #90C7E3;
}
.resort {
  color: #3399CC;
  font-weight: bold;
}
nav {
  text-align: center;
  padding: 0;
  transition: color 3s ease-out;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  border-bottom: 1px solid #000033;
  padding: 0.5em 0;
}
nav a:link {
  color: #5C7FA3;
  text-decoration: none;
}
nav a:visited {color: #344873;}
nav a:hover {color: #A52A2A;}
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
#homehero {background-image: url(coast.jpg);}
#yurthero {background-image: url(yurt.jpg);}
#trailhero {background-image: url(trail.jpg);}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
input,
textarea {margin-bottom: 0.5em;}
main {
  background-color: #FFFFFF;
  padding: 1em;
}
main h2 {color: #3399CC;}
main ul {
  list-style-type: disc;
  margin-left: 2em;
}
section {margin-bottom: 1.5em;}
footer {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
  color: #666666;
}
/* Table */
table {
  border: 2px solid #3399CC;
  border-collapse: collapse;
}
th,
td {
  padding: 0.5em;
  border: 2px solid #3399CC;
  font-family: Verdana, Arial, sans-serif;
}
td {text-align: center;}
.text {text-align: left;}
tr:nth-of-type(odd) {background-color: #F5FAFC;}

video {
    float: right;
    margin: 1em;
}

/*Medium Layout*/
@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }
  .flow {
    display: flex;
    flex-direction: row;
  }
  section {
    flex: 1;
    margin: 0 2em;
  }
    form {
    width: 60%;
    max-width: 30em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 6em 1fr;
  }
  input[type="submit"] {
    grid-column: 2 / 3;
    width: 9em;
  }
}

/*Large Layout*/
@media (min-width: 1024px) {
  #wrapper {
    width: 80%;
    margin: auto;
    border: 1px solid #000033;
    box-shadow: 3px 3px 3px #000033;
  }
  nav {
    text-align: left;
    padding-left: 1em;
  }
  @supports (display: grid) {
    #wrapper {
      display: grid;
      grid-template-areas:
        "header header"
        "nav hero"
        "nav main"
        "footer footer";
      grid-template-columns: 180px 1fr;
      grid-template-rows: auto auto 1fr auto;
    }
    header {grid-area: header;}
    nav {grid-area: nav;}
    .hero {grid-area: hero;}
    main {grid-area: main;}
    footer {grid-area: footer;}
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
  }
}